
.TabbedPanels {
	background:#fff;
	margin: 0px;
	padding: 0px;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}


.TabbedPanelsTab {
    -moz-user-select: none;
    background-color: #fff;  
    border-right:1px solid #ccc;
	border-bottom:5px solid #eee;
   
    color: #777;
    cursor: pointer;
    float: left;
    font: 20px "ralewaybold",Arial,Helvetica,sans-serif;
    list-style: outside none none;
    padding: 0;
    position: relative;
    top: 1px; text-transform: uppercase;
}

.TabbedPanelsTabHover, .TabbedPanelsTabSelected {
	border-bottom: 5px solid #88be4c; color:#88be4c;
}
.TabbedPanelsTabHover .hisicon, .TabbedPanelsTabSelected .hisicon{background-position: -5px -5px;}
.TabbedPanelsTabHover .proficon, .TabbedPanelsTabSelected .proficon{background-position: -35px -4px;}
.TabbedPanelsTabHover .cardicon, .TabbedPanelsTabSelected .cardicon{  background-position: -76px -10px;}
.TabbedPanelsTabHover .addricon, .TabbedPanelsTabSelected .addricon{  background-position: -111px -4px;}

.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}
.TabbedPanelsTab:last-child {
    border-right: medium none;
}
.TabbedPanelsContentGroup {
	clear: both;
	background-color: #fff;
}



.TabbedPanelsContentVisible {
}


.VTabbedPanels {
	overflow: hidden;
	zoom: 1;
}

.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}

.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}

/* Styles for Printing */
@media print {
.TabbedPanels {
	overflow: visible !important;
}
.TabbedPanelsContentGroup {
	display: block !important;
	overflow: visible !important;
	height: auto !important;
}
.TabbedPanelsContent {
	overflow: visible !important;
	display: block !important;
	clear:both !important;
}
.TabbedPanelsTab {
	 overflow: visible !important;
	 display: block !important;
	 clear:both !important;
}
}