/* less than 768px eq 767px*/
@media (max-width: 767px) {
    .leftsideBar {
        left: -100%;
        padding: 0;
        top: 65px;
        width: 100%;
        z-index: 1000;

        transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;

    }

    .category_mobile, .close_category {
        display: block;
    }

    .close_category {
        border: 2px solid #999;
        color: #000;
        padding: 5px 10px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 10;
    }

    .category_mobile.open .leftsideBar {
        left: 0%;
    }

    .title-categories {
        display: block;
    }

    .leftsideBar_scroller {
        padding: 20px;
        background: #ffffff;
        overflow: auto;
    }

    .rightSideBar {
        margin: 0 0 20px;
    }

    #cart-sidebar {
        display: none;
        height: auto;
        position: fixed;
        top: 0 !important;
        transform: translateX(0px);
        width: 100%;
        z-index: 10100;
        bottom: 0;
        border: 2px solid #06cc58;
    }

    .btn-cart-toggle {
        display: none;
    }

    .header.detailheader .dropdown-toggle.shopMenu {
        margin: 10px 0px 0px 0px;
        border: 1px solid #999999;
        display: inline-block;
    }

    .header.detailheader .searchMenuForm {
        display: inline-block;
        margin: 11px 0 0 5px;
    }

    .search_bar {
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        margin: 0 -15px;
        padding: 6px 15px 6px 15px;
        cursor: pointer;
    }

    .header.detailheader .searchMenuForm .searchMenuFormClick {
        min-width: 0;
        width: 0;
        padding: 0;
        border: medium none;
    }

    .header.detailheader .searchMenuForm .searchInput {
        min-width: 0;
        width: 0;
        padding-left: 0;
        background: #e4f1e6 url("../images/icon-search.png") no-repeat scroll center 8px / 24px auto;
        float: right;
        cursor: pointer;

        transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;

    }

    .searchMenuForm {
    }

    .header.detailheader .searchMenuForm .searchInput:focus {
        width: 100%;
        min-width: 230px;
        background: #ffffff;
        padding-left: 20px;
        cursor: text;
    }

    .header.detailheader .searchMenuForm .searchInput:focus + .searchMenuFormClick, .header.detailheader .searchMenuForm .searchMenuFormClick:hover {
        width: 40px;
        min-width: 40px;
    }

    .search_bar li {
        display: inline-block;
        vertical-align: top;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }

    .maincategory .subcategories {
        left: 15px;
        min-width: auto;
        right: 15px;
        top: 42px;
    }

    #sync1.owl-carousel .owl-wrapper-outer {
        height: 160px;
    }

    #sync1.owl-carousel .owl-item .item img {
        max-height: 100px;
        max-width: 100%;
    }

    #sync1 .owl-controls .owl-prev, #sync1 .owl-controls .owl-next {
        top: 220px;
    }

    #sync1 .owl-controls .owl-prev {
        left: 15px;
    }

    #sync1 .owl-controls .owl-next {
        right: 15px;
    }

    .mobile_cart {
        background: #2088B2;
        bottom: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        color: #ffffff;
        display: block;
        font-size: 22px;
        position: fixed;
        right: 0;
        width: 100%;
        z-index: 100;
    }

    .mobile_cart:hover, .mobile_cart:focus {
        color: #ffffff;
    }

    .header .navbar-brand img {
        max-width: 155px;
    }

    .rememberpassword {
        padding: 0;
    }

    .cart_notification, .cart_failedNotification {
        background: rgba(233, 78, 38, 0.85);
        bottom: auto;
        color: #fff;
        font: 15px/23px Lato;
        left: auto;
        min-width: 270px;
        padding: 9px 10px;
        position: absolute;
        right: 5px;
        text-align: center;
        top: -60px;
    }

    .cart_notification::before, .cart_failedNotification::before {
        border-color: rgba(233, 78, 38, 1) transparent transparent;
        border-style: solid;
        border-width: 10px 5px;
        content: "";
        left: auto;
        position: absolute;
        right: 10px;
        top: 40px;
    }

    .cart-items table tbody td.qty .change-qty, .cart-items .add-note {
        opacity: 1;
    }

    .remove-cell, .cartItemsInner table tbody tr:hover .price-cell {
        display: block;
    }

    .cart-items table tbody .remove-cell .remove-item {
        color: #ff0000;
    }

    .cartItemsInner table {
        font-size: 13px;
    }

    .varient_height, .detailPopCont p {
        height: auto;
    }

    .detailPopCont p {
        max-height: 110px;
    }

    .price_height, .detailPopCont_top {
        min-height: 0;
    }

    .products .product__detail {
        margin-top: 0px;
    }

    .products .product .top-section {
        position: static;
    }

    .products .product .show-on-hover {
        max-height: none;
        opacity: 1;
    }

    .products .product figcaption {
        opacity: 1;
    }

    .detailshopList {
        height: 100%;
        max-height: none;
    }

    .products .product .add_to_cart_button span {
        opacity: 1;
        min-width: 0;
    }

    .products .product:hover .add_to_cart_button span {
        transform: translateX(20px);
    }

    .products .product__image figcaption .yith-wcqv-button {
        color: #000000 !important;
    }

    .mobile_btn-checkout span {
        border-left: 1px solid #fff;
        line-height: 25px;
        padding-left: 10px;
    }

    .orderInfo ul li {
        font: 16px/27px Lato;
        margin-bottom: 10px;
    }

    .main-content {
        position: static;
    }

    .page-header.page-header-with-icon {
        margin: 90px 0 50px;
    }

    .hiw_section {
        padding-bottom: 0px;
    }

    .panel.panel-image {
        margin-top: 55px;
    }

    .header.detailheader .dropdown-toggle.shopMenu {
        max-width: 230px;
        width: 230px;
    }

    .checkout_arrow {
        background: #ff5600;
        border-left: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 12px 15px;
    }

    .mobile_cart_price, .mobile_cart_price:focus {
        color: #ffffff;
        display: inline-block;
        font: 20px/32px Lato;
        padding: 12px 15px;
        cursor: default;
    }

    .mobile_cart_price:hover {
        color: #000000;
    }

    .mobile_cart_close {
        background: #111;
        color: #ffffff;
        display: block;
        font: 14px/30px Lato;
        height: 30px;
        position: absolute;
        right: 1px;
        text-align: center;
        top: 1px;
        width: 30px;
        z-index: 10;
    }

    #cart-sidebar .cart-checkout {
        padding: 5px;
    }

    .header.detailheader .dropdown-menu.shopMenuDropdown {
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .menuclose_mobile {
        background: #3aaf53;
        color: #fff;
        display: block;
        font: 27px/30px lato;
        height: 37px;
        position: absolute;
        right: 5px;
        text-align: center;
        top: 5px;
        width: 37px;
        z-index: 1;
    }

}

}

/* 768px and up*/
@media (min-width: 768px) {

}

/* 992px and up */
@media (min-width: 992px) {

}

/* 1200px and up */
@media (min-width: 1200px) {

}

/*  768px to 991px  */
@media (min-width: 768px) and (max-width: 991px ) {

}

/*  992px  to 1199px   */
@media (min-width: 992px ) and (max-width: 1199px) {

}

/* less than 992px eq 991px*/
@media (max-width: 992px) {

}

/* less than 1200px eq 1199px*/
@media (max-width: 1199px) {

}
